body{
    background-color: rgba(224, 111, 36, 0.767);
    margin: 20px 50px 50px 50px;
}
h1{
    text-align: center;
    color: red;
    font-family: fantasy;
    font-size: 50px;
    
}
#site-info{
    border-style: groove;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border-radius: 50px;
    color:black;
}
td{
   padding: 25px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
}
div{
    text-align: center;
    
}